WEB-INF/classes/sunit/app/hibernate/search/schema/queries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by 51zz.com (51zz.com) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="count" type="xs:int"/>
	<xs:element name="default-value" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="sessionor">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="object" type="xs:string" use="required"/>
			<xs:attribute name="single" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="default" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scope">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="object" type="xs:string" use="required"/>
			<xs:attribute name="single" type="xs:boolean" use="optional" default="true"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expression">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="parameter" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="expression" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="relation" type="relation" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="group-by" type="xs:string"/>
	<xs:element name="ql">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="select"/>
				<xs:element ref="where" minOccurs="0"/>
				<xs:element ref="order-by" minOccurs="0"/>
				<xs:element ref="group-by" minOccurs="0"/>
				<xs:element ref="fetch" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fetch">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="join" type="join" use="optional" default="inner"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="is-null" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="order-by" type="xs:string"/>
	<xs:element name="page" type="xs:string"/>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="default-value" minOccurs="0"/>
				<xs:element ref="is-null" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="variable-name" type="xs:string" use="optional"/>
			<xs:attribute name="type" type="parameterType" use="required"/>
			<xs:attribute name="scope" type="scope" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="queries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query" maxOccurs="unbounded"/>
				<xs:element ref="sessionor" maxOccurs="unbounded"/>
				<xs:element  ref="scope" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ql"/>
				<xs:element ref="count" minOccurs="0"/>
				<xs:element ref="page"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="sessionor" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="select" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="where">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="expression" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="parameterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="boolean"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="string"/>
			<xs:enumeration value="date"/>
			<xs:enumeration value="calendar"/>
			<xs:enumeration value="object"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="scope">
		<xs:union>
			<xs:simpleType id="scopeType1">
				<xs:restriction base="xs:string">
					<xs:enumeration value="request"/>
					<xs:enumeration value="session"/>
					<xs:enumeration value="context"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType id="scopeType2">
				<xs:restriction base="xs:string">
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="relation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="and"/>
			<xs:enumeration value="or"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="join">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inner"/>
			<xs:enumeration value="left"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
